# Izinkan akses ke file JSON
<Files "students.json">
    Order Allow,Deny
    Allow from all
</Files>

# Redirect jika perlu
RewriteEngine On
# Jika ada permintaan ke /api/students tanpa ekstensi, arahkan ke api/students.php
RewriteRule ^api/students$ api/students.php [L]
RewriteRule ^api/stats$ api/stats.php [L]